fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
sqlalchemy
psycopg2-binary
alembic==1.18.4
passlib[bcrypt]
pwdlib[argon2]
python-jose[cryptography]
python-multipart
email-validator

pandas
numpy
scikit-learn
lightgbm
joblib

pytest
httpx
